//rotation des fleurs
.site-footer ul::after,
.site-footer::before,
.site-footer::after,
#studio h2::before,
#studio h2::after,
.story__article::after {
    animation: rotation-fleur 3s infinite linear;
    }

    @keyframes rotation-fleur{
        from{
            transform-origin: 50% 50%;
            transform: rotate(0turn);
        }
        to{ 
            transform-origin: 50% 50%;
            transform: rotate(1turn);
        }
    }

.story h2::after {
    animation: rotation-sunflower 3s infinite linear;
    }

    @keyframes rotation-sunflower{
        from{
            transform-origin: 50% 45%;
            transform: rotate(0turn);
        }
        to{ 
            transform-origin: 50% 45%;
            transform: rotate(1turn);
        }
    }



//fade in sections

.fade-in-section{
    animation: fade-in-section 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in-section{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

//parallax logo

.banner{
    background-size: 200%;
    background-repeat: no-repeat;
    img{
        position: fixed;
    }    
}

.img-relative{
    // position: relative;
    height: 0px;
}

//animation des titres

.animation-titre{
    animation: animation-titre 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes animation-titre{
    from{
        margin-top: 100%;
    }
    to{
        margin-top: 0%;
    }
}


