//rotation des fleurs
:root{--speed : 3s}
.site-footer ul::after,
.site-footer::before,
.site-footer::after,
.story__article::after {
    animation: flower-rotation var(--speed) infinite linear;
    }

    @keyframes flower-rotation{
        from{
            transform: rotate(0turn);
        }
        to{ 
            transform: rotate(1turn);
        }
    }

.story h2::after {
    transform-origin: 77px 77px;
    animation: flower-rotation var(--speed) infinite linear;
    }

#studio h2::before{
    transform-origin: 101.5px 99.5px;
    animation: flower-rotation var(--speed) infinite linear;
}

#studio h2::after{
    transform-origin: 54.5px 54.5px;
    animation: flower-rotation var(--speed) infinite linear;
}

//fade in sections

.fade-in-section{
    animation: fade-in-section 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fade-in-section{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

//parallax logo

.banner{
background-attachment: fixed;
background-size: cover;
background-position: center; 
background-repeat: no-repeat;
height: 800px;
    img{
        position: sticky;
        top: 0;
        left: 0;
        animation: floating 4s ease-in-out infinite;
    }    
}

//animation des titres

.title-animation{
        white-space: pre;
        display: inline-block;
        transform: translateY(100%);
        animation: title-animation 0.5s ease-in-out forwards;
    }

.title-animation:nth-child(1) {
      animation-delay: 0.2s;
    }

.title-animation:nth-child(2) {
      animation-delay: 0.4s;
    }

@keyframes title-animation{
    to{
        transform: translateY(0%);
    }
}

// section oscar

.site-footer{
    flex-direction: column;
    gap: 100px;
    padding-top: 5em;
    justify-content: space-between;
    div{
        padding-bottom: 10em;
    }
    &::after{
        bottom: 30em
    }
}

.oscar{ 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    img{
        max-width: 278px;
    }
    div{
        background-image:url("../assets/orange_oscar_bg.png");
        background-repeat: none;
        background-size: cover;
        width: 700px;
        height: 250px;
        font-family: "Quicksand", sans-serif;
        font-weight: bold;
        line-height: 40px;
        letter-spacing: -2%;
        color: #FFF5E9;
        font-size: 35px;
        margin: 0;
        text-align: left;
        padding: 50px 50px 50px 70px;
        text-shadow: 0px 4px 15px #00000041;
            @media (max-width: 700px) {
            width: 320px;
            background: none;
            text-shadow: 0px 0px 5px #FF5C00;
            color:#FF5C00;
            font-size: 25px;
            line-height: 25px;
            text-align: center;
            }
    }
    @media (max-width: 996px) {
        flex-direction: column;
        align-items: center;
    }
}


//gestion de la vidéo

.container-video{
    position: absolute;
}

#background-video {
    position: sticky;
    object-fit: cover;
        @media(max-width: 996px){
            display: none;
        }
    }

//logo flottant

@keyframes floating{
    0%, 100%{
        transform: translate(0px);
    }
    19%{
        transform: translate(11px, 10px);

    }
    41%{
        transform: translate(10px, -12px);
    }
    65%{
        transform: translate(-8px, -11px);
    }
    79%{
        transform: translate(-11px, 12px);
    }
}

// Swiper

.swiper {
  width: 750px;
  @media(max-width: 996px){
    width: 320px;
}
}

.characters-swiper{
    text-align: center;
    h3{
    z-index:2;
    background-image: url('../assets/orange_characters_bg.png');
    }
}

// Nuages

.story #place{
    background-image: url('../assets/Studio_Koukaki-image_place.png');
    position: relative;
    overflow: hidden;
    h3, p{
        z-index: 1;
    }
    img{
        z-index: 0;
        filter: blur(15px) drop-shadow(0 0 1rem rgb(255, 255, 255));
    }
}

#bigcloud{
    position: absolute; 
    left: 20%;
    top: 80px;
}

#littlecloud{
    position: absolute;
    left: 0;
    top: 300px;
}

// Menu

nav {
    display: flex;
    position: relative;
    }
    .hamburger {
        display: block!important; 
        position: absolute;
        cursor: pointer;
        top: 20px; 
        right: 15px;
    }
    .closed{
        position: absolute;
        font-size: 25px;
        top: -15px;
        right: 5px;
        }
    
    .site-title{
    width: 100%;
    text-align: center;
    height: 80px;
    padding-top: 20px;
    @media(max-width: 996px){
        display: none;
    }
}

.inactive{
    display: none;
    }

.active{
    display: block;
    }

.fullscreen-menu {
    position: fixed;
    width: 100%;
    max-width: 1440px;
    margin: auto; 
    background-color: #FFF5E9;
    z-index: 1000;
    padding: 40px 0px;
    overflow: hidden;
    animation: fade-in-section 1s;
    box-shadow: 0px 200px 150px grey;
        .imglogo{
            max-width: 155px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
                &:hover{
                filter: drop-shadow(0px 1px 10px #FF5C00);
                }
        }
        ul{
        list-style: none;
        text-align: center;
        padding: 0px 0px 150px 0px;
        margin: 0px;
            li{
            margin: 20px 0;
                a{
                color: black;
                text-decoration: none;
                font-size: 64px;
                    &:hover{
                    text-shadow: #FF5C00 1px 0px 10px;
                    }
                }
            }
        }
        a{
            display: block;
            text-align: center;
            margin: auto;
            text-decoration: none;
            font-size: 12px;
        }
        .menuimgcat{
            position: absolute;
            overflow: hidden;
            z-index: 0;
            animation: floating 4s ease-in-out infinite;
            &--bluecat{
                top: 160px;
                left: 267px;
            }
            &--orangecat{
                top: 747px;
                left: 79px;
            }
            &--blackcat{
                top: 470px;
                right: 210px;
            }
        }
        .menuimgflower{
            position: absolute;
            z-index: 0;
            animation: flower-rotation var(--speed) infinite linear;
            &--orchid{
                width: 172px;
                top: 72px;
                left: -70px;
            }
            &--sunflower{
                height: 216px;
                top: 89px;
                right: 185px;
            }
            &--flower{
                height: 70px;
                top: 483px;
                left: 213px;
            }
            &--hibiscus{
                height: 626px;
                width: 626px;
                top: 600px;
                right: -300px;
            }
            &--randomflower{
                height: 75px;
                top: 395px;
                right: -35px;
            }
        }

            
        }    





